<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
         
    <display-name>AI Powered Object Detection System</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Database Connection Context Parameters -->
    <context-param>
        <description>MySQL JDBC Driver URL</description>
        <param-name>db.url</param-name>
        <param-value>jdbc:mysql://localhost:3306/ai_detection_db?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=UTC</param-value>
    </context-param>
    
    <context-param>
        <description>Database User</description>
        <param-name>db.username</param-name>
        <param-value>root</param-value>
    </context-param>
    
    <context-param>
        <description>Database Password</description>
        <param-name>db.password</param-name>
        <param-value>Root</param-value>
    </context-param>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/index.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/index.jsp</location>
    </error-page>

</web-app>
